
.search {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 4px 10px;
}
.search input {
    border: none;
    width: 100%;
}
.search input:focus-visible{
    border: none;
    outline: none;
}